global = {
  ip = localhost
  tz = US/Central
}

exchanges = {
  coinbase = {
    id = 101

    rest = {
      base_url = "api.pro.coinbase.com"
      channels = {
        instruments = products
        statistics = stats
       }
       timeout = 15000
    }

    ws = {
      base_url = "wss://ws-feed.pro.coinbase.com"
      channels = {
        ticker = ticker
        snapshot = level2
        incremental = level2
        trader = ksharma
        trades = matches
        orders = full  
      }
      
      services = {
        instruments = {
          url = ${exchanges.coinbase.rest.base_url}/${exchanges.coinbase.rest.channels.instruments}
        }
      }

    }
  }
}


services = {
    rpc = {
        broker = {
            frontend = {
                port = 8686
                server = "tcp://*:"${services.rpc.broker.frontend.port}
                client = "tcp://"${global.ip}":"${services.rpc.broker.frontend.port}
            }
            backend = {
                port = 8687
                server = "tcp://*:"${services.rpc.broker.backend.port}
                client = "tcp://"${global.ip}":"${services.rpc.broker.backend.port}
            }
        }

        instruments = {
            name = "instruments"
        }
    }

    publisher = {
        mktdata = {
            coinbase = {
                port = 7${exchanges.coinbase.id}
                server = "tcp://*:"${services.publisher.mktdata.coinbase.port}
                client = "tcp://"${global.ip}":"${services.publisher.mktdata.coinbase.port}
            }
        }
    }
}