global = {
  ip = localhost
  tz = US/Central
}

exchanges = {
  coinbase = {
    id = 101

    rest = {
      base_url = "api.pro.coinbase.com"
      channels = {
        instruments = products
        statistics = stats
       }
       timeout = 15000
    }

    ws = {
      base_url = "wss://ws-feed.pro.coinbase.com"
      channels = {
        ticker = ticker
        snapshot = level2
        incremental = level2
        trader = ksharma
        trades = matches
        orders = full  
      }
      
      services = {
        instruments = {
          url = ${exchanges.coinbase.rest.base_url}/${exchanges.coinbase.rest.channels.instruments}
        }
      }

    }
  }
}


services = {
    instruments = {
        port = 12000
        server = "tcp://*:"${services.instruments.port}
        client = "tcp://"${global.ip}":"${services.instruments.port}
        polling_millis = 50
    }

    order_gateway = {
        frontend = {
            port = 12010
            server = "tcp://*:"${services.order_gateway.frontend.port}
            client = "tcp://"${global.ip}":"${services.order_gateway.frontend.port}
        }
        backend = {
            port = 12011
            server = "tcp://*:"${services.order_gateway.backend.port}
            client = "tcp://"${global.ip}":"${services.order_gateway.backend.port}
        }
    }

      mktdata_gateway = {
          frontend = {
              port = 12020
              server = "tcp://*:"${services.mktdata_gateway.frontend.port}
              client = "tcp://"${global.ip}":"${services.mktdata_gateway.frontend.port}
          }

          backend = {
              port = 12021
              server = "tcp://*:"${services.mktdata_gateway.backend.port}
              client = "tcp://"${global.ip}":"${services.mktdata_gateway.backend.port}
          }
      }

    publisher = {
        mktdata = {
            proxy = {
                frontend = {
                    port = 7676
                    server = "tcp://*:"${services.publisher.mktdata.proxy.frontend.port}
                    client = "tcp://"${global.ip}":"${services.publisher.mktdata.proxy.frontend.port}
                }
                backend = {
                    port = 7677
                    server = "tcp://*:"${services.publisher.mktdata.proxy.backend.port}
                    client = "tcp://"${global.ip}":"${services.publisher.mktdata.proxy.backend.port}
                }
            }

            ws = {
                port = 5757
                server = "ws://*:"${services.publisher.mktdata.ws.port}
                client = "ws://"${global.ip}":"${services.publisher.mktdata.ws.port}
                throttle_frequency_nano = 250000000
            }
        }

        orders = {
            proxy = {
                frontend = {
                    port = 8696
                    server = "tcp://*:"${services.publisher.orders.proxy.frontend.port}
                    client = "tcp://"${global.ip}":"${services.publisher.orders.proxy.frontend.port}
                }

                backend = {
                    port = 8697
                    server = "tcp://*:"${services.publisher.orders.proxy.backend.port}
                    client = "tcp://"${global.ip}":"${services.publisher.orders.proxy.backend.port}
                }

            }
        }
    }
}